* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #e1d4bb;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin; /*60/3 for 3 boxes =20*/
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color:#eeeeee;
  }

  #reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  #new{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  #msg {
    color:#b0413e;
    font-size: 5vmin;
  }
  
  .msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
